spring:
  profiles:
    default: prod

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{X-Transaction-Id}] %-5level %logger{36} --- %msg%n"
  level:
    root: info

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,loggers
  endpoint:
    health:
      show-details: always
  metrics:
    enable:
      all: true

---

spring:
  config:
    activate:
      on-profile: prod
  custom-datasource:
    url: jdbc:postgresql://localhost:5432/gym_db
    username: postgres
    password: 4999
    driver-class-name: org.postgresql.Driver

---

spring:
  config:
    activate:
      on-profile: dev
  custom-datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
